body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5vh;
  box-sizing: border-box;
}


.card{
  width: auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.binary{
  min-width: 30%;
}


.decimal{
  min-width: 30%;
}